<div class="container">
  <div class="row">
      <div class="formulario col-md-12 ">
        <form [formGroup]="reactiveForm" enctype="multipart/form-data">
            <label for="Nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="Nombrnombree" formControlName="nombre">
            <label for="Precio">Precio:</label>
            <input type="text" class="form-control" id="precio" name="precio" formControlName="precio">

            <br>
            <input type="file" name="foto" id="foto" class="foto" (change)="tomaImagen($event)" >

            <button type="submit" class="btn btn-success" (click)="enviarForm(reactiveForm)">enviar</button>
            
        </form>
      </div>
  </div>
</div>
<div class="container">
  <div class="lista row ">
    <div class="col-md-12" >
      <tr *ngFor="let item of _servicioProductos.arrayProducto" >
        <td>{{item.nombre}}</td>
        <td>{{item.precio}}</td>

        <img [src]="'http://localhost:8090/servicio/productos/img/' +item.id" 
                        class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer;">
      </tr>
    </div>
  </div>
</div>